@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
	transition: all .05s;
}

html {
	scroll-behavior: smooth;
}

a {
	color: var(--gray);
	font-size: 18px;
	font-weight: 600;
	text-decoration: none;
}

p {
	font-weight: 400;
	margin: 0;
}

img {
	max-width: 100%;
	border-radius: 1px;
	border-style: none;
	vertical-align: center;
}

:root {
	--blue: #007bff;
	--indigo: #6610f2;
	--purple: #6f42c1;
	--pink: #e83e8c;
	--red: #dc3545;
	--orange: #fd7e14;
	--yellow: #ffc107;
	--green: #28a745;
	--teal: #20c997;
	--cyan: #17a2b8;
	--white: #fff;
	--gray: #6c757d;
	--gray-dark: #343a40;
	--primary: #007bff;
	--secondary: #6c757d;
	--success: #198754;
	--info: #17a2b8;
	--warning: #ffc107;
	--danger: #dc3545;
	--light: #f8f9fa;
	--dark: #343a40;
	--lightred: #ee7896;
	--lightgreen: #11eedb;
}