@import url('chung.css');

/*----------------QUANG CAO----------------*/

#thungQuangCao {
	display: flex;
	overflow: hidden;
	margin: auto;
	height: 1000px;
	z-index: -1;
}

.quangCao {
	background-image: url('https://file.hstatic.net/200000123069/file/20220419_banner_shop_248edbe1f4924486b3fd1548abf5a796.jpg');
	width: 100%;
	height: 100%;
	display: inline-block;
	transition: 1s ease-in-out;
	position: relative;
}

/*----------------SAN PHAM----------------*/

.loaiSanPham {
	width: 100%;
	margin: 50px 0;
	border-bottom: 2px solid #8f9194;
}

.loaiSanPham .tieuDe {
	margin: 40px 0;
	text-align: center;
	font-size: 25px;
	font-weight: 400;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.loaiSanPham .tieuDe p {
	border-bottom: 1px solid black;
	display: inline-block;
}

.loaiSanPham .trungBay {
	display: flex;
	padding: 10px 40px 30px 40px;
	justify-content: start;
	width: 100%;
	height: 100%;
	flex-wrap: wrap;
}

.locSach {
	display: flex;
	justify-content: space-around;
}

.luaChon {
	background-color: white;
	position: relative;
	width: 400px;
	height: 70px;
	z-index: 3;
	border: 1px solid black;
}

.luaChon select {
	background: transparent;
	border: none;
	width: 100%;
	height: 100%;
	font-size: 22px;
	z-index: 2;
	padding: 0 10px;
	position: relative;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.luaChon select:hover {
	cursor: pointer;
}

.luaChon:after {
	content: '\25bc';
	font-size: 25px;
	width: 50px;
	height: 30px;
	position: absolute;
	background-color: #3498db;
	z-index: 1;
	right: 20px;
	top: 20px;
	color: white;
	text-align: center;
}

.sach {
	display: inline-block;
	position: relative;
	transition: all 0.3s ease;
	border: 1px solid;
	height: fit-content;
	padding: 6px 8px;
	width: calc(25% - 5px);
	margin-right: 3px;
	margin-bottom: 5px;
}

.sach a img {
	display: inline-block;
	width: 100%;
	height: 100%;
}

.manMo {
	display: none;
	width: 100%;
	height: 85%;
	background-color: rgba(255, 255, 255, 0.5);
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	align-items: flex-end;
	justify-content: space-around;
	cursor: pointer;
}

.manMo>p {
	display: inline-block;
	text-align: center;
	line-height: 30px;
	height: 30px;
	width: 145px;
	margin-top: calc(100% - 20px);
	background-color: #242526;
	text-transform: uppercase;
	font-size: 12px;
}

.manMo>p a {
	text-decoration: none;
	color: white;
	display: inline-block;
	width: 100%;
	height: 100%;
}

.sach:hover .manMo {
	opacity: 1;
	display: flex;
}

.ten-sach--tran {
	width: 300px;
	white-space: normal;
	overflow: hidden;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	display: -webkit-box;
}


