@import url('chung.css');
#thungQuangCao {
    display: flex;
    overflow: hidden;
    margin: auto;
    height: 1000px;
    z-index: -1;
}

.quangCao {
    background-image: url('https://file.hstatic.net/200000123069/file/20220419_banner_shop_248edbe1f4924486b3fd1548abf5a796.jpg');
    width: 100%;
    height: 100%;
    display: inline-block;
    transition: 1s ease-in-out;
    position: relative;
}


/*----------------SAN PHAM----------------*/

.loaiSanPham {
    width: 100%;
    margin: 50px 0;
    border-bottom: 2px solid #8f9194;
}

.loaiSanPham .tieuDe {
    margin: 40px 0;
    text-align: center;
    font-size: 25px;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.loaiSanPham .tieuDe p {
    border-bottom: 1px solid black;
    display: inline-block;
}

.loaiSanPham .trungBay {
    display: flex;
    padding: 10px 40px 30px 40px;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}

.sach {
    width: 25%;
    padding: 0 32px;
    display: block;
    position: relative;
    transition: all 0.3s ease;
    height: fit-content;
    margin-top: 16px ;
    margin-bottom: 16px;
}

.hinh-anh-sach {
    position: relative;
}

.hinh-anh-sach img {
    display: inline-block;
    width: 270px;
    height: 300px;
}

.manMo {
    display: none;
    width: 100%;
    height: 300px;
    background-color: rgba(255, 255, 255, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    align-items: flex-end;
    justify-content: space-around;
    cursor: pointer;
}

.manMo>button {
    cursor: pointer;
    line-height: 30px;
    height: 30px;
    width: 120px;
    background-color: #242526;
    text-transform: uppercase;
    font-size: 12px;
    color: white;
}

.sach .giamGia {
    position: absolute;
    top: 10px;
    left: 10px;
    display: block;
    background-color: #0dd6f3;
    padding: 5px 7px;
    border-radius: 4px;
    color: #fff;
    font-size: 15px;
}

.sach:hover .manMo {
    opacity: 1;
    display: flex;
}

.ten-sach--tran {
    white-space: normal;
}
.thong-tin-sach{
    width: 100%;
}