<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

  <security-constraint>
    <web-resource-collection>
      <web-resource-name>secured page</web-resource-name>
      <url-pattern>/</url-pattern>
    </web-resource-collection>
    <user-data-constraint>
      <transport-guarantee>CONFIDENTIAL</transport-guarantee>
    </user-data-constraint>
  </security-constraint>

  <welcome-file-list>
    <welcome-file>views/trangchu.jsp</welcome-file>
  </welcome-file-list>

  <security-constraint>
    <web-resource-collection>
      <web-resource-name>secured page</web-resource-name>
      <url-pattern>/</url-pattern>
    </web-resource-collection>
    <user-data-constraint>
      <transport-guarantee>CONFIDENTIAL</transport-guarantee>
    </user-data-constraint>
  </security-constraint>

  <!-- Session config  -->
  <session-config>
    <session-timeout>60</session-timeout>
    <tracking-mode>COOKIE</tracking-mode>
  </session-config>

  <request-character-encoding>UTF-8</request-character-encoding>

  <!-- Listener để tránh rò rỉ bộ nhớ từ MySQL -->
  <listener>
    <listener-class>com.nhom4web.HuyJdbcListener</listener-class>
  </listener>

  <!-- CORS Filter -->
  <filter>
    <filter-name>CORSFilter</filter-name>
    <filter-class>com.thetransactioncompany.cors.CORSFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CORSFilter</filter-name>
    <url-pattern>/api/*</url-pattern>
  </filter-mapping>

  <!-- XacThuc Filter  -->
  <filter-mapping>
    <filter-name>XacThuc</filter-name>
    <url-pattern>/api/dang-ky</url-pattern>
    <url-pattern>/api/dang-nhap</url-pattern>
  </filter-mapping>

  <!-- PhanQuyen Filter  -->
  <filter-mapping>
    <filter-name>PhanQuyen</filter-name>
    <url-pattern>/api/dang-xuat</url-pattern>
    <url-pattern>/api/sach/*</url-pattern>
    <url-pattern>/api/danh-muc/*</url-pattern>
    <url-pattern>/api/don-hang/*</url-pattern>
    <url-pattern>/api/nguoi-dung/don-hang/*</url-pattern>
    <url-pattern>/api/binh-luan/*</url-pattern>
    <url-pattern>/api/gio-hang</url-pattern>
  </filter-mapping>

  <!-- Danh Muc Filter  -->
  <filter-mapping>
    <filter-name>Danh-Muc-Filter</filter-name>
    <url-pattern>/api/danh-muc/*</url-pattern>
  </filter-mapping>

  <!-- Sach Filter  -->
  <filter-mapping>
    <filter-name>Sach-Filter</filter-name>
    <url-pattern>/api/sach/*</url-pattern>
  </filter-mapping>

  <!-- Don Hang Filter  -->
  <filter-mapping>
    <filter-name>Don-Hang-Filter</filter-name>
    <url-pattern>/api/don-hang/*</url-pattern>
    <url-pattern>/api/nguoi-dung/don-hang/*</url-pattern>
  </filter-mapping>

  <!-- Gio Hang Filter  -->
  <filter-mapping>
    <filter-name>Gio-Hang-Filter</filter-name>
    <url-pattern>/api/gio-hang</url-pattern>
  </filter-mapping>
  <!-- End Gio Hang Filter  -->

  <jsp-config>
    <jsp-property-group>
      <url-pattern>*.jsp</url-pattern>
      <page-encoding>UTF-8</page-encoding>
    </jsp-property-group>
  </jsp-config>
</web-app>
