<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>

  <!-- Session config  -->
  <session-config>
    <tracking-mode>COOKIE</tracking-mode>
  </session-config>

  <!-- Web context listener to preven leak memory when connect to MySQL -->
  <listener>
    <listener-class>com.nhom4web.WebAppContextListener</listener-class>
  </listener>

  <!-- Sitemesh decorator  -->
  <filter>
    <filter-name>sitemesh</filter-name>
    <filter-class>com.opensymphony.module.sitemesh.filter.PageFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>sitemesh</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <!-- End sitemesh  -->

  <!-- Begin Logged Filter  -->
  <filter-mapping>
    <filter-name>logged</filter-name>
    <url-pattern>/api/dang-ky</url-pattern>
    <url-pattern>/api/dang-nhap</url-pattern>
  </filter-mapping>
  <!-- End Logged Filter  -->

  <!-- Begin Authentication Filter  -->
  <filter-mapping>
    <filter-name>auth</filter-name>
    <url-pattern>/api/dang-xuat</url-pattern>
    <url-pattern>/api/sach/*</url-pattern>
    <url-pattern>/api/danh-muc/*</url-pattern>
    <url-pattern>/api/don-hang/*</url-pattern>
  </filter-mapping>
  <!-- End Authentication Filter  -->

  <!-- Begin Sach Filter  -->
  <filter-mapping>
    <filter-name>sach</filter-name>
    <url-pattern>/api/sach/*</url-pattern>
  </filter-mapping>
  <!-- End Sach Filter  -->

  <!-- Begin Danh Muc Filter  -->
  <filter-mapping>
    <filter-name>danhmuc</filter-name>
    <url-pattern>/api/danh-muc/*</url-pattern>
  </filter-mapping>
  <!-- End Danh Muc Filter  -->
</web-app>