<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>secured page</web-resource-name>
      <url-pattern>/</url-pattern>
    </web-resource-collection>
    <user-data-constraint>
      <transport-guarantee>CONFIDENTIAL</transport-guarantee>
    </user-data-constraint>
  </security-constraint>

  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>

  <!-- Session config  -->
  <session-config>
    <session-timeout>120</session-timeout>
    <tracking-mode>COOKIE</tracking-mode>
  </session-config>

  <!-- Web context listener to prevent leak memory when connect to MySQL -->
  <listener>
    <listener-class>com.nhom4web.HuyJdbcListener</listener-class>
  </listener>

  <!-- Sitemesh decorator  -->
  <filter>
    <filter-name>sitemesh</filter-name>
    <filter-class>com.opensymphony.module.sitemesh.filter.PageFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>sitemesh</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <!-- End sitemesh  -->

  <!-- Begin Logged Filter  -->
  <filter-mapping>
    <filter-name>Logged</filter-name>
    <url-pattern>/api/dang-ky</url-pattern>
    <url-pattern>/api/dang-nhap</url-pattern>
  </filter-mapping>
  <!-- End Logged Filter  -->

  <!-- Begin Authentication Filter  -->
  <filter-mapping>
    <filter-name>Auth</filter-name>
    <url-pattern>/api/dang-xuat</url-pattern>
    <url-pattern>/api/sach/*</url-pattern>
    <url-pattern>/api/danh-muc/*</url-pattern>
    <url-pattern>/api/don-hang/*</url-pattern>
    <url-pattern>/api/nguoi-dung/don-hang/*</url-pattern>
    <url-pattern>/api/binh-luan/*</url-pattern>
    <url-pattern>/api/gio-hang</url-pattern>
  </filter-mapping>
  <!-- End Authentication Filter  -->

  <!-- Begin Danh Muc Filter  -->
  <filter-mapping>
    <filter-name>Danh-Muc-Filter</filter-name>
    <url-pattern>/api/danh-muc/*</url-pattern>
  </filter-mapping>
  <!-- End Danh Muc Filter  -->

  <!-- Begin Sach Filter  -->
  <filter-mapping>
    <filter-name>Sach-Filter</filter-name>
    <url-pattern>/api/sach/*</url-pattern>
  </filter-mapping>
  <!-- End Sach Filter  -->

  <!-- Begin Don Hang Filter  -->
  <filter-mapping>
    <filter-name>Don-Hang-Filter</filter-name>
    <url-pattern>/api/don-hang/*</url-pattern>
    <url-pattern>/api/nguoi-dung/don-hang/*</url-pattern>
  </filter-mapping>
  <!-- End Don Hang Filter  -->

  <!-- Begin Gio Hang Filter  -->
  <filter-mapping>
    <filter-name>Gio-Hang-Filter</filter-name>
    <url-pattern>/api/gio-hang</url-pattern>
  </filter-mapping>
  <!-- End Gio Hang Filter  -->
</web-app>
